<p id="notice"><%= notice %></p>

<div style="justify-content: center;display: flex;" >
  <div style="max-width:680px;width: 100%;" >
  <%# <div class="container-{680px}"> %>
    <br>

    <h1>
      <%= @article.title %> 
    </h1>


    <p>
      <%= @article.description %>
    </p>

    
    <%# <p style="justify-content: center;display: flex;" > %>
    <p style="flex-direction: column;display: flex;" > 
      <%if @article.image.attached? %>
        <%=image_tag @article.image ,class:"img-fluid"%>
      <% end %>  
    </p>


    <p>
      <%= @article.content %>
    </p>

<%# 
    <p>
      <%= @article.paragraph %>
    <%# </p> %>



    <br>
    <%= link_to 'Edit', edit_article_path(@article) ,class:"btn btn-secondary"%> |
    <%= link_to 'Back', articles_path ,class:"btn btn-secondary"%>
  </div>
</div>